#ðŸ“Œ ExtracciÃ³n

In [63]:
import requests
import pandas as pd

In [64]:
datos_clientes = pd.read_json('/content/TelecomX_Data.json')

In [65]:
datos_clientes

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')
data.dropna(inplace=True)

#ðŸ”§ TransformaciÃ³n

##Utilizando la herramienta de Pandas normalize

In [66]:
df_normalizado = pd.json_normalize(datos_clientes['customer'])
df_normalizado

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

## Revisando los tipos de datos que podemos encontrar en la tabla con .dtypes

In [67]:
# Muestra una lista con todos los nombres de las columnas
print(datos_clientes.columns)

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

#Conociendo el diccionario de nuestro dataframe

##Conociendo los tipos de datos que tenemos en nuestro DataFrame

In [68]:
datos_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

##Conociendo los tipos de datos de nuestro DataFrame

In [69]:
datos_clientes.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

## Podemos ver los nombres de la columna:

In [70]:
datos_clientes.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

#Investigando nuestros datos podemos determinar cuales son las columnas mas importantes para este proyecto.

##Vamos a conocer un poco mas de las columnas importantes:

**Columnas de Contrato y FacturaciÃ³n **
Estos atributos muestran la correlaciÃ³n mÃ¡s fuerte con la tasa de cancelaciÃ³n. Los clientes con ciertas caracterÃ­sticas contractuales y de pago son mucho mÃ¡s propensos a irse.

**Contract**: Este es, sin duda, el factor mÃ¡s predictivo. Los clientes con contratos "Mes a mes" (Month-to-month) tienen una tasa de cancelaciÃ³n drÃ¡sticamente mÃ¡s alta en comparaciÃ³n con los clientes con contratos de "Uno o Dos aÃ±os" (One year, Two year). Esto sugiere que los clientes con compromisos a corto plazo son mÃ¡s volÃ¡tiles.

**PaymentMethod**: El mÃ©todo de pago tambiÃ©n es un indicador clave. Los clientes que pagan con "Cheque electrÃ³nico" (Electronic check) cancelan el servicio con mucha mÃ¡s frecuencia que aquellos que usan mÃ©todos automÃ¡ticos como tarjeta de crÃ©dito o transferencia bancaria. Esto podrÃ­a indicar una menor lealtad o una fricciÃ³n en el proceso de pago.

**PaperlessBilling**: Si bien no es tan fuerte como los dos anteriores, los datos muestran que los clientes que optan por la facturaciÃ³n sin papel (Yes) tienen una mayor tendencia a cancelar.

In [71]:
account_normalizado = pd.json_normalize(datos_clientes['account'].dropna())
account_normalizado

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [72]:
account_normalizado.columns

Index(['Contract', 'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [73]:
account_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contract          7267 non-null   object
 1   PaperlessBilling  7267 non-null   object
 2   PaymentMethod     7267 non-null   object
 3   Charges.Monthly   7267 non-null   float64
 4   Charges.Total     7267 non-null   object
dtypes: float64(1), object(4)
memory usage: 284.0+ KB

In [74]:
account_normalizado.dtypes

Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

In [75]:
# Unique values in one column
unique_contracts = pd.unique(account_normalizado['Contract'])
print(unique_contracts)

['One year' 'Month-to-month' 'Two year']

In [76]:
print(account_normalizado.isnull().sum())

Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

###Cambiamos el nombre de las columnas que estan mal hechas

In [77]:
account_normalizado = account_normalizado.rename(
    columns={
        "Charges.Monthly": "Monthly Charges",
        "Charges.Total": "Total Charges"
    }
)

account_normalizado

,Contract,PaperlessBilling,PaymentMethod,Monthly Charges,Total Charges
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

###Con el codigo a continuacion podemos descubrir que tenemos duplicados en nuestra columna necesaria para el analisis necesario de este caso.

In [78]:
print(account_normalizado.duplicated().sum())

336

In [79]:
clean_account_normalizado = account_normalizado.drop_duplicates()
print(clean_account_normalizado)

            Contract PaperlessBilling     PaymentMethod  Monthly Charges  \
0           One year              Yes      Mailed check            65.60
1     Month-to-month               No      Mailed check            59.90
2     Month-to-month              Yes  Electronic check            73.90
3     Month-to-month              Yes  Electronic check            98.00
4     Month-to-month              Yes      Mailed check            83.90
...              ...              ...               ...              ...
7262        One year               No      Mailed check            55.15
7263  Month-to-month              Yes  Electronic check            85.10
7264  Month-to-month              Yes      Mailed check            50.30
7265        Two year               No      Mailed check            67.85
7266        Two year               No  Electronic check            59.00

     Total Charges
0            593.3
1            542.4
2           280.85
3          1237.85
4            267.4
...            ...
7262         742.9
7263        1873.7
7264         92.75
7265       4627.65
7266        3707.6

[6931 rows x 5 columns]

Confirmamos que ya no contamos con los duplicados

In [80]:
print(clean_account_normalizado.duplicated().sum())

0

In [81]:
print(datos_clientes['customerID'].isnull().sum())

0

In [82]:
print(datos_clientes['customerID'].duplicated().sum())

0

### Ahora que los datos estÃ¡n limpios, es momento de crear la columna "Cuentas_Diarias". Utilizare la facturaciÃ³n mensual para calcular el valor diario, proporcionando una visiÃ³n mÃ¡s detallada del comportamiento de los clientes a lo largo del tiempo.

ðŸ“Œ Esta columna nos ayudarÃ¡ a profundizar en el anÃ¡lisis y a obtener informaciÃ³n valiosa para un mejor analisis.

In [86]:
Cuentas_Diarias = clean_account_normalizado['Monthly Charges'] / 30
Cuentas_Diarias

0       2.186667
1       1.996667
2       2.463333
3       3.266667
4       2.796667
          ...
7262    1.838333
7263    2.836667
7264    1.676667
7265    2.261667
7266    1.966667
Name: Monthly Charges, Length: 6931, dtype: float64

### Verificamos una vez mas a ver los tipos de datos que tenemos en nuestro dataframe

In [90]:
clean_account_normalizado.dtypes

Contract             object
PaperlessBilling     object
PaymentMethod        object
Monthly Charges     float64
Total Charges        object
dtype: object

### Arreglamos el tipo de datos para nuestra columna de Total Charges a float64, ya que son valores numericos

In [94]:
# Convierte a float, valores no convertibles se vuelven NaN
clean_account_normalizado['Total Charges'] = pd.to_numeric(clean_account_normalizado['Total Charges'], errors='coerce')

print(clean_account_normalizado.dtypes)

Contract             object
PaperlessBilling     object
PaymentMethod        object
Monthly Charges     float64
Total Charges       float64
dtype: object

/tmp/ipython-input-3686313559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_account_normalizado['Total Charges'] = pd.to_numeric(clean_account_normalizado['Total Charges'], errors='coerce')

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final